{% extends 'base.html' %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data" class="mb-5tm-contact-form"> 
    {% csrf_token %}
    <h2><p class=" col-form-label  tm-color-primary"  >Are you sure you want to delete {{object}}?</p></h2>
    <div class="form-group row text-right">
        <div class="col-12">
            <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
        </div>                            
    </div> 

</form>
{% endblock content %}